#logo{
    position: absolute;
    width: 85px;
    height: 82px;
    left: 45px;
    top: 19px;
}

#imagem_perfil{
    position: absolute;
    width: 401px;
    height: 554px;
    left: 61px;
    top: 136px;
    border-radius: 79px;
}

#facebook{
    position: absolute;
    width: 73px;
    height: 73px;
    left: 104px;
    top: 740px;
}

#instagram{
    position: absolute;
    width: 100px;
    height: 76px;
    left: 90px;
    top: 840px;
}

#email{
    position: absolute;
    width: 73px;
    height: 73px;
    left: 287px;
    top: 840px;
}

#github{
    position: absolute;
    width: 73px;
    height: 73px;
    left: 287px;
    top: 740px;
}

#img_1{
    position: absolute;
    width: 234px;
    height: 287px;
    left: 36px;
    top: 345px;
}

#img_2{
    position: absolute;
    width: 235px;
    height: 276px;
    left: 748px;
    top: 345px;
}

#img_3{
    position: absolute;
    width: 235px;
    height: 276px;
    left: 35px;
    top: 713px;
}

#img_4{
    position: absolute;
    width: 235px;
    height: 276px;
    left: 748px;
    top: 713px;
}

.home_topo{
    position: absolute;
    width: 105px;
    height: 40px;
    left: 279px;
    top: 41px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 46px;
    display: flex;
    align-items: center; 
}

.educacao_topo{
    position: absolute;
    width: 152px;
    height: 51px;
    left: 556px;
    top: 37px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.sf_topo{
    position: absolute;
    width: 204px;
    height: 46px;
    left: 848px;
    top: 37px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 46px;
    display: flex;
    align-items: center;   
}

.proj_topo{
    position: absolute;
    width: 250px;
    height: 41px;
    left: 1218px;
    top: 41px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.nome_centralizado{
    position: absolute;
    width: 791px;
    height: 94px;
    left: 632px;
    top: 136px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 83px;
    display: flex;
    align-items: center;
}

.sub_titulo{
    position: absolute;
    width: 419px;
    height: 56px;
    left: 500px;
    top: 249px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 62px;
    display: flex;
    align-items: center;
}

.texto{
    position: absolute;
    width: 798px;
    height: 446px;
    left: 500px;
    top: 244px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.sub_titulo1{
    position: absolute;
    width: 642px;
    height: 59px;
    left: 500px;
    top: 660px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 62px;
    display: flex;
    align-items: center;
}

.link1{
    position: absolute;
    width: 152px;
    height: 51px;
    left: 500px;
    top: 751px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.link2{
    position: absolute;
    width: 400px;
    height: 46px;
    left: 500px;
    top: 822px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.link3{
    position: absolute;
    width: 250px;
    height: 41px;
    left: 500px;
    top: 888px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.titulo_pag{
    position: absolute;
    width: 419px;
    height: 56px;
    left: 45px;
    top: 219px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 62px;
    display: flex;
    align-items: center;
}

.titulo_1{
    position: absolute;
    width: 365px;
    height: 78px;
    left: 286px;
    top: 333px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.titulo_2{
    position: absolute;
    width: 365px;
    height: 59px;
    left: 286px;
    top: 713px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.titulo_3{
    position: absolute;
    width: 365px;
    height: 59px;
    left: 999px;
    top: 333px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.titulo_4{
    position: absolute;
    width: 365px;
    height: 59px;
    left: 999px;
    top: 713px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.texto_1{
    position: absolute;
    width: 300px;
    height: 38px;
    left: 286px;
    top: 410px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_2{
    position: absolute;
    width: 210px;
    height: 38px;
    left: 286px;
    top: 790px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_3{
    position: absolute;
    width: 210px;
    height: 38px;
    left: 999px;
    top: 410px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;   
}

.texto_4{
    position: absolute;
    width: 210px;
    height: 38px;
    left: 999px;
    top: 790px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_1_1{
    position: absolute;
    width: 420px;
    height: 119px;
    left: 286px;
    top: 450px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_2_1{
    position: absolute;
    width: 194px;
    height: 39px;
    left: 286px;
    top: 850px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_3_1{
    position: absolute;
    width: 194px;
    height: 39px;
    left: 999px;
    top: 492px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
}

.texto_4_1{
    position: absolute;
    width: 194px;
    height: 39px;
    left: 999px;
    top: 850px;
    
    font-family: Pavanam;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;   
}